* {
  float: center;
}
#cart {
  background-color: #F1F1F1;
  max-width: 40%;
  max-height: 40%;
  float: center;
}
#handlekurv {
  background-color: #F1F1F1;
  max-width: 40%;
  max-height: 40%;
}
#googlemaps{
  max-width: 70%;
  max-height: 70%;
}
#database {
  background-color: #F1F1F1;
  max-width: 40%;
  max-height: 40%;
  padding: 15px;
}
body {
  font-family: Arial;
  margin: 5;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.row {  
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  float:right;
}
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  float: left;
}
.fakeimg {
  background-color: #aaa;
  width: 40%;
  padding: 20px;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
#buttons {
  padding: 10px;
}
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}